	
<ngx-spinner
bdOpacity = 0.9
bdColor = "rgba(51,51,51,0.55)"
size = "medium"
color = "#fff"
type = "timer"
[fullScreen] = "true">
<p style="color: white" > Loading... </p>
</ngx-spinner>
<body>
<section id="section-1">
	<div class="container">

	

		<h3 class="heading m-top">Change Password <span class="ico pull-right"><a href=""><i class="zmdi zmdi-edit zmdi-hc-fw"></i></a></span></h3>
		<div class="box">
			<div class="row">
  
     <div class="col-md-9">
     <form [formGroup]='changePasswordForm' class="form m-top">


                   <div class="wrap-input2 validate-input" data-validate="password is required">
                     <input class="input2" type="password" name="password" formControlName='password' placeholder="PASSWORD">
                  </div>

                   <div class="wrap-input2 validate-input" data-validate="password is required">
                     <input class="input2" type="password" name="password" placeholder="CONFIRM PASSWORD">
                  </div>

                 

                   

                  
</form>
<label class="success">{{changePasswordMdg}}</label>
                                        <br>
                                        <br>
     </div>   
      </div>
		</div>


		
    <ul class="list-inline pull-right">
    <li><a  class="post-btn p-n bg-p" (click)='changePassword(changePasswordForm.value)'>SAVE</a></li>
    <li> <a href="profile" class="post-btn p-n">Cancel</a></li>
     </ul>
	</div>
</section>
</body>