	

<body>
<section id="section-1">
	<div class="container">

	

		<h3 class="heading m-top">Edit Profile <span class="ico pull-right"><a href=""><i class="zmdi zmdi-edit zmdi-hc-fw"></i></a></span></h3>
		<div class="box">
			<div class="row">
  
     <div class="col-md-9">
     <form action="" class="form m-top">
  <div class="wrap-input2 validate-input" data-validate="password is required">
                     <input class="input2" type="password" name="password">
                     <span class="focus-input2" data-placeholder="CURRENT PASSWORD"></span>
                  </div>


                   <div class="wrap-input2 validate-input" data-validate="password is required">
                     <input class="input2" type="password" name="password">
                     <span class="focus-input2" data-placeholder="NEW PASSWORD"></span>
                  </div>

                   <div class="wrap-input2 validate-input" data-validate="password is required">
                     <input class="input2" type="password" name="password">
                     <span class="focus-input2" data-placeholder="CONFIRM NEW PASSWORD"></span>
                  </div>

                 

                   

                  
</form>
                                        <br>
                                        <br>
     </div>   
      </div>
		</div>


		
    <ul class="list-inline pull-right">
    <li><a href="" class="post-btn p-n bg-p">SAVE</a></li>
    <li> <a href="" class="post-btn p-n">Cancel</a></li>
     </ul>
	</div>
</section>
</body>