<body>
<div class="container-fluid wrapper-footer">
    <div class="container">
    <div class="col-md-4">
    <div class="about">
    <h2>ABOUT US</h2>
    <p>Lorem Ipsum is simply dummy text 
    of the printing and typesetting industry. 
    Lorem Ipsum has been the industry's standard 
    dummy text ever since the 1500s</p>
    </div>
    </div>
    <div class="col-md-4 hidden-xs">
    <div class="contect">
    <h2>CONTACT US</h2>
    <ul class="bottom-menu">
    <li><i class="fa fa-map-marker" aria-hidden="true"></i>Jinah Park 82, Sargodha</li>
    <li><i class="fa fa-phone" aria-hidden="true"></i>+92-300101001</li>
    <li><i class="fa fa-envelope-o" aria-hidden="true"></i>website@email.com</li>
    </ul>
    </div>
    </div>
    <div class="col-md-4 visible-xs ">
    <div class="contect1">
    <h2>CONTACT US</h2>
    <ul class="bottom-menu">
    <li><i class="fa fa-map-marker" aria-hidden="true"></i>Jinah Park 82, Sargodha</li>
    <li><i class="fa fa-phone" aria-hidden="true"></i>+92-300101001</li>
    <li><i class="fa fa-envelope-o" aria-hidden="true"></i>website@email.com</li>
    </ul>
    </div>
    </div>
    <div class="col-md-4 pull-right hidden-xs">
    <div class="about pull-right">
    <h2>Stay Connected</h2>
    <p>Sign up to get our latest offers 
    and updated.</p>
    <input type="text" class="form-control bottom-input" placeholder="Your email here">
    <div class="clearfix"></div>
    <p>We respect your Privacy.</p>
    </div>
    </div>
    <div class="col-md-4 visible-xs">
    <div class="about">
    <h2>Stay Connected</h2>
    <p>Sign up to get our latest offers 
    and updated.</p>
    <input type="text" class="form-control bottom-input" placeholder="Your email here">
    <div class="clearfix"></div>
    <p>We respect your Privacy.</p>
    </div>
    </div>
    
    </div>
    
    </div>
    
    
    <footer class="container-fluid footer">
    <div class="container">
    <div class="col-md-6 col-xs-6">
    <p>© Website.com</p>
    </div>
    <div class="col-md-6 col-xs-6 pull-right"></div> 
    <ul class="footer-menu">
    <li><i class="fa fa-vimeo" aria-hidden="true"></i></li>
    
    <li><i class="fa fa-linkedin" aria-hidden="true"></i></li>
    <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
    
    </ul>
    </div>
    
    
    </footer>
</body>