

<ngx-spinner
bdOpacity = 0.9
bdColor = "rgba(51,51,51,0.55)"
size = "medium"
color = "#fff"
type = "timer"
[fullScreen] = "true">
<p style="color: white" > Loading... </p>
</ngx-spinner>
<body>
  
            
    <section id="section-1">
        <div class="container">
    
        
            <input class="search" type="text"  placeholder="Search..." [(ngModel)]="term">

    
            <h3 class="heading m-top">EQUIPMENT LOAN <span class="ico pull-right"><a ><i class="zmdi zmdi-edit zmdi-hc-fw"></i></a></span></h3>
            <div class="box">
                          <div class="dashTable">
                   <table class="dataTable display">
                      <thead>
                         <tr>
                            <th>Loan Serail No.</th>
                            <th>Equipment Name</th>
                            <th>Device 1</th>
                            <th>Accessories1</th>
                            <th>Action</th>
                            
                         </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor='let equipmentloan of equipmentloanlist|filter:term'>
                          <td>{{equipmentloan.serialNo}}</td>
                          <td>{{equipmentloan.equipmentName}}</td>
                          <td>{{equipmentloan.device1}}</td>
                          <td>{{equipmentloan.accessories1}}</td>


                          <td class="no-sort desktop" width="140"><a (click)='edit(equipmentloan.id)' class="miniLbl del-btn">Edit</a>
                          <a  class="miniLbl del-btn" (click)='delete(equipmentloan.id)'>Delete</a></td>
                        </tr>
                       
                           
                      </tbody>
                   </table>
                </div>
            </div>
    
    
            
        <ul class="list-inline">
        <li><a href="addequipment" class="post-btn p-n bg-p">Add New Equipment</a></li>
        <li> <a  class="post-btn p-n">Upload Entry</a></li>
         
          <li class="pull-right">   <a (click)='generateReport()'  class="post-btn p-n">Generate Report</a></li>
         </ul>
    
      
        </div>
    </section>
    
    
   
    
    
    
    
    
                 <!-- =========================
        End
    ============================== -->
            
            
    
    
     
    
        <!-- Bootstrap Core JavaScript -->
        
        
        
      
    </body>
    