<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Camera</title>
	
	<!-- Bootstrap Core CSS -->
    <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">
	<link href="../../assets/css/font-awesome.css" rel="stylesheet" type="text/css">
	
	<link href="../../assets/css/material-design-iconic-font.min.css" rel="stylesheet" type="text/css">
    <link href="../../assets/css/material-design-iconic-font.css" rel="stylesheet" type="text/css">
	
<link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">

	<link href="../../assets/css/login.css" rel="stylesheet" type="text/css">
	
	
	
	
	

	
	
	</head>




<!-- ------------------header-------------->

<body id="login-section">

<div class="login">
         <img class="img-responsive center-block" src="../../assets/images/logo.jpeg" width="100">
         <form>
            <div class="input-group">
               <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
               <input id="email" type="text" class="form-control" name="email" placeholder="Email">
            </div>
            <div class="input-group">
               <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
               <input id="password" type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <label class="checkbox-bttn">Remember Me
            <input type="checkbox" checked="checked">
            <span class="checkmark"></span>
            </label>
            <a class="login-btn" href="login-index.html">Login</a>
            <a class="l-area" href="forget-password.html">Forgot Password?</a>
           
         </form>
      </div>



      

		
			 <!-- =========================
    End
============================== -->
		
		


 <!-- jQuery -->
  
<script src="../../assets/js/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../../assets/js/bootstrap.min.js"></script>
	
	
	
	
 

    <!-- Bootstrap Core JavaScript -->
	
	
	
  
</body>
</html>