
<ngx-spinner
bdOpacity = 0.9
bdColor = "rgba(51,51,51,0.55)"
size = "medium"
color = "#fff"
type = "timer"
[fullScreen] = "true">
<p style="color: white" > Loading... </p>
</ngx-spinner>
<body id="login-section">
   <!-- <span class="help-block" style="color:red" *ngIf="loginForm.controls['password'].hasError('required')">
      Password is required</span> -->
<div class="login">
         <img class="img-responsive center-block" src="../../assets/images/logo.jpeg" width="100">
         <form [formGroup]="loginForm">
            <div class="input-group">
               <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
               <input id="email" type="text" class="form-control" name="email" formControlName="email" placeholder="Email">
            </div>
            <div class="input-group">
               <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
               <input id="password" type="password" class="form-control" formControlName="password" name="password" placeholder="Password">
            </div>
            <button type="button" class="btn-sign btn btn-primary login-btn" [disabled]="!loginForm.valid"
                      (click)='login(loginForm.value)'>Sign in</button>

                      <label class="error">{{message}}</label>
           
         </form>
      </div>



      

		
			 <!-- =========================
    End
============================== -->
		
		


 <!-- jQuery -->
  

	
	
	
	
 

    <!-- Bootstrap Core JavaScript -->
	
	
	
  
</body>
