<body>
    	
<section id="section-1">
	<div class="container">

	

		<h3 class="heading m-top">staff Detail <span class="ico pull-right"><a href="editprofile.html"><i class="zmdi zmdi-edit zmdi-hc-fw"></i></a></span></h3>
		<div class="box">
<form action="" class="form flex m-top">
  <div class="wrap-input2 validate-input" data-validate="id is required">
                     <input class="input2" type="text" name="">
                     <span class="focus-input2" data-placeholder="STAFF ID"></span>
                  </div>


                   <div class="wrap-input2 validate-input" data-validate="email is required">
                     <input class="input2" type="email" name="">
                     <span class="focus-input2" data-placeholder="EMAIL"></span>
                  </div>

                   <div class="wrap-input2 validate-input" data-validate="first name is required">
                     <input class="input2" type="text" name="">
                     <span class="focus-input2" data-placeholder="FIRST NAME"></span>
                  </div>

                   <div class="wrap-input2 validate-input" data-validate="last name is required">
                     <input class="input2" type="text" name="">
                     <span class="focus-input2" data-placeholder="LAST NAME"></span>
                  </div>

                    <div class="wrap-input2 validate-input" data-validate="mobile no is required">
                     <input class="input2" type="text" name="">
                     <span class="focus-input2" data-placeholder="MOBILE NO"></span>
                  </div>
                   <div class="wrap-input2 validate-input" data-validate="department is required">
                     <input class="input2" type="text" name="">
                     <span class="focus-input2" data-placeholder="DEPARTMENT"></span>
                  </div>
                   <div class="wrap-input2 validate-input" data-validate="job title is required">
                     <input class="input2" type="text" name="">
                     <span class="focus-input2" data-placeholder="JOB TITLE"></span>
                  </div>
                      <div class="wrap-input2 validate-input" data-validate="loan serial no is required">
                     <input class="input2" type="text" name="">
                     <span class="focus-input2" data-placeholder="LOAN SERIAL NO"></span>
                  </div>



                  

                 

                  
</form>
		</div>


		
    <ul class="list-inline pull-right">
    <li><a href="" class="post-btn p-n bg-p">Save</a></li>
    <li> <a href="changepassword.html" class="post-btn p-n">Cancel</a></li>
      <li> <a href="changepassword.html" class="post-btn p-n">Delete</a></li>
     </ul>
	</div>
</section>

</body>