
<body>
    <header>
        <div class="container">
        <div class="row">
                   <div class="col-md-1">
                      <img src="../../assets/images/logo.jpeg" class="img-responsive" width="70" alt=""> 
                   </div>
                   <div class="col-md-3">
                      <div class="input-group ">
                         <span class="input-group-addon form-addon"><i class="zmdi zmdi-search zmdi-hc-fw"></i></span>
                         <input id="email" type="text" class="form-control " name="" placeholder="Search">
                      </div>
                   </div>
                
                   <div class="col-md-offset-6 col-md-2 text-center">
                      <ul class="list-inline s-p">
                         <li class=""><a href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><img src="../../assets/images/avater.png" class="img-responsive center-block img-circle" alt="">Hi fidel</a>
                                     <ul class="dropdown-menu">
                <li class="text-center"><strong> Sunvi_Ovi</strong></li>
                <li class="divider"></li>
                <li><a href="#">My Profile</a></li>
                <li class="divider"></li>
                <li><a href="#">Settings</a></li>
                <li class="divider"></li>
               
                <li><a href="#">Help &amp; Support</a></li>
                <li class="divider"></li>
                <li><a href="#">Logout</a></li>
              </ul>
    
    
                          </li>
                      
                      </ul>
                   </div>
                </div>
                </div>
    </header>
    
    
    <section id="banner">
        <div class="container text-center">
            <img class="img-responsive img-circle center-block" src="../../assets/images/avater.png" width="80">
            <h1>Fidel</h1>
            <p>fidelfrimpong@hotmail.co.uk</p>
        </div>
    </section>
    
    <section id="nav">
        <nav class="navbar navbar-default navbar-db">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
     
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="">Home</a></li>
                <li><a href="">Profile</a></li>
                <li><a href="">Camera Loans</a></li>
                  <li class="active"><a href="">Camera List</a></li>
                  <li><a href="">Staff List</a></li>
                 
                  <li><a href="">Log Out</a></li>
             
          </ul>
         
        </div>
      </div>
    </nav>
    </section>
            
    <section id="section-1">
        <div class="container">
    
        
    
            <h3 class="heading m-top">add new equipment <span class="ico pull-right"><a href="editprofile.html"><i class="zmdi zmdi-edit zmdi-hc-fw"></i></a></span></h3>
            <div class="box">
    <form action="" class="form flex m-top">
      <div class="wrap-input2 validate-input" data-validate="model no is required">
                         <input class="input2" type="text" name="">
                         <span class="focus-input2" data-placeholder="MODEL NO"></span>
                      </div>
    
    
                       <div class="wrap-input2 validate-input" data-validate="condtion is required">
                         <input class="input2" type="text" name="">
                         <span class="focus-input2" data-placeholder="CONDTION"></span>
                      </div>
    
                       <div class="wrap-input2 validate-input" data-validate="camera name is required">
                         <input class="input2" type="text" name="">
                         <span class="focus-input2" data-placeholder="CAMERA NAME"></span>
                      </div>
    
                       <div class="wrap-input2 validate-input" data-validate="lease status is required">
                         <input class="input2" type="text" name="">
                         <span class="focus-input2" data-placeholder="LEASE STATUS"></span>
                      </div>
    
                        <div class="wrap-input2 validate-input" data-validate="camera type is required">
                         <input class="input2" type="text" name="">
                         <span class="focus-input2" data-placeholder="CAMERA TYPE"></span>
                      </div>
                       <div class="wrap-input2 validate-input" data-validate="lease period is required">
                         <input class="input2" type="text" name="">
                         <span class="focus-input2" data-placeholder="LEASE PERIOD"></span>
                      </div>
                       <div class="wrap-input2 validate-input" data-validate="brand is required">
                         <input class="input2" type="text" name="">
                         <span class="focus-input2" data-placeholder="BRAND"></span>
                      </div>
                          <div class="wrap-input2 validate-input" data-validate="insurance is required">
                         <input class="input2" type="text" name="">
                         <span class="focus-input2" data-placeholder="INSURANCE HISTORY"></span>
                      </div>
    
                       <div class="wrap-input2 validate-input" data-validate="model is required">
                         <input class="input2" type="text" name="">
                         <span class="focus-input2" data-placeholder="MODEL"></span>
                      </div>
    
                        <div class="wrap-input2 validate-input" data-validate="life span is required">
                         <input class="input2" type="text" name="">
                         <span class="focus-input2" data-placeholder="LIFE SPAN "></span>
                      </div>
    
                      
    
                     
    
                      
    </form>
            </div>
    
    
            
        <ul class="list-inline pull-right">
        <li><a href="" class="post-btn p-n bg-p">Add</a></li>
        <li> <a href="changepassword.html" class="post-btn p-n">Cancel</a></li>
        
         </ul>
        </div>
    </section>
    
    
    <!-- ------------------footer-------------->
    <div class="container-fluid wrapper-footer">
    <div class="container">
    <div class="col-md-4">
    <div class="about">
    <h2>ABOUT US</h2>
    <p>Lorem Ipsum is simply dummy text 
    of the printing and typesetting industry. 
    Lorem Ipsum has been the industry's standard 
    dummy text ever since the 1500s</p>
    </div>
    </div>
    <div class="col-md-4 hidden-xs">
    <div class="contect">
    <h2>CONTACT US</h2>
    <ul class="bottom-menu">
    <li><i class="fa fa-map-marker" aria-hidden="true"></i>Jinah Park 82, Sargodha</li>
    <li><i class="fa fa-phone" aria-hidden="true"></i>+92-300101001</li>
    <li><i class="fa fa-envelope-o" aria-hidden="true"></i>website@email.com</li>
    </ul>
    </div>
    </div>
    <div class="col-md-4 visible-xs ">
    <div class="contect1">
    <h2>CONTACT US</h2>
    <ul class="bottom-menu">
    <li><i class="fa fa-map-marker" aria-hidden="true"></i>Jinah Park 82, Sargodha</li>
    <li><i class="fa fa-phone" aria-hidden="true"></i>+92-300101001</li>
    <li><i class="fa fa-envelope-o" aria-hidden="true"></i>website@email.com</li>
    </ul>
    </div>
    </div>
    <div class="col-md-4 pull-right hidden-xs">
    <div class="about pull-right">
    <h2>Stay Connected</h2>
    <p>Sign up to get our latest offers 
    and updated.</p>
    <input type="text" class="form-control bottom-input" placeholder="Your email here">
    <div class="clearfix"></div>
    <p>We respect your Privacy.</p>
    </div>
    </div>
    <div class="col-md-4 visible-xs">
    <div class="about">
    <h2>Stay Connected</h2>
    <p>Sign up to get our latest offers 
    and updated.</p>
    <input type="text" class="form-control bottom-input" placeholder="Your email here">
    <div class="clearfix"></div>
    <p>We respect your Privacy.</p>
    </div>
    </div>
    
    </div>
    
    </div>
    
    
    <footer class="container-fluid footer">
    <div class="container">
    <div class="col-md-6 col-xs-6">
    <p>© Website.com</p>
    </div>
    <div class="col-md-6 col-xs-6 pull-right"></div> 
    <ul class="footer-menu">
    <li><i class="fa fa-vimeo" aria-hidden="true"></i></li>
    
    <li><i class="fa fa-linkedin" aria-hidden="true"></i></li>
    <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
    
    </ul>
    </div>
    
    
    </footer>
    
    
    
    
    
                 <!-- =========================
        End
    ============================== -->
            
            
    
    
     <!-- jQuery -->
    
        
        
        
        
     
    
        <!-- Bootstrap Core JavaScript -->
        
        
        
      
    </body>