

<ngx-spinner
bdOpacity = 0.9
bdColor = "rgba(51,51,51,0.55)"
size = "medium"
color = "#fff"
type = "timer"
[fullScreen] = "true">
<p style="color: white" > Loading... </p>
</ngx-spinner>
<body>
    <section id="section-1">
        <div class="container">
    
        
    
            <h3 class="heading m-top">add new equipment <span class="ico pull-right"><a><i class="zmdi zmdi-edit zmdi-hc-fw"></i></a></span></h3>
            <div class="box">
    <form [formGroup]='newEquipmentForm' class="form flex m-top">
      <div class="wrap-input2 validate-input" data-validate="model no is required">
                         <input class="input2" type="text" name="model" formControlName='model' placeholder="MODEL NO">
                         
                      </div>
    
    
                   
    
                       <div class="wrap-input2 validate-input" data-validate="lease status is required">
                         <input class="input2" type="text" name="leaseStatus" formControlName='leaseStatus' placeholder="LEASE STATUS">
                      </div>
    
                        <div class="wrap-input2 validate-input" data-validate="equipment type is required">
                         <input class="input2" type="text" name="equipmentType" formControlName='equipmentType' placeholder="EQUIPMENT TYPE">
                      </div>

                       <div class="wrap-input2 validate-input" data-validate="lease period is required">
                         <input class="input2" type="date" name="leasePeriod" formControlName='leasePeriod' placeholder="LEASE PERIOD">
                      </div>
                       <div class="wrap-input2 validate-input" data-validate="brand is required">
                         <input class="input2" type="text" name="brand" formControlName='brand' placeholder="BRAND">
                        
                      </div>
                          <div class="wrap-input2 validate-input" data-validate="insurance is required">
                         <input class="input2" type="text" name="insuranceHistory" formControlName='insuranceHistory'
                          placeholder="INSURANCE HISTORY">
                      </div>
    
                   
    
                        <div class="wrap-input2 validate-input" data-validate="life span is required">
                         <input class="input2" type="text" name="lifespan" formControlName='lifespan'
                         placeholder="LIFE SPAN">
                      </div>
    
                      
    
                     
    
                      
    </form>
    <label class="success">{{addnewequipmentMsg}}</label>
            </div>
    
    
            
        <ul class="list-inline pull-right">
          
        <li><button id='btn' class="post-btn p-n bg-p" [disabled]="!newEquipmentForm.valid" (click)='addEquipmentList(newEquipmentForm.value)'>Add</button>
          <!-- <a  class="post-btn p-n bg-p"  (click)='addEquipmentList(newEquipmentForm.value)'>Add</a></li> --></li>
        <li> <a href="equipmentlist" class="post-btn p-n">Cancel</a></li>
        
         </ul>
        </div>
    </section>
    
    
   
    
    
    
    
    
                 <!-- =========================
        End
    ============================== -->
            
            
    
    
     <!-- jQuery -->
    
        
        
        
        
     
    
        <!-- Bootstrap Core JavaScript -->
        
        
        
      
    </body>