

<ngx-spinner
bdOpacity = 0.9
bdColor = "rgba(51,51,51,0.55)"
size = "medium"
color = "#fff"
type = "timer"
[fullScreen] = "true">
<p style="color: white" > Loading... </p>
</ngx-spinner>
<body>
   
            
    <section id="section-1">
        <div class="container">
    
        
     
    
            <h3 class="heading m-top">Equipment List <span class="ico pull-right"><a ><i class="zmdi zmdi-edit zmdi-hc-fw"></i></a></span></h3>
            <div class="box">
                          <div class="dashTable">
                   <table class="dataTable display">
                      <thead>
                         <tr>
                            <th>Model No.</th>
                            <th>Equipment Type</th>
                            <th>Brand</th>

                            <th>Action</th>
                            
                         </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor='let equipment of equipmentlistItem'>
                          <td>{{equipment.model}}</td>
                          <td>{{equipment.equipmentType}}</td>
                          <td>{{equipment.brand}}</td>
                          <td class="no-sort desktop" width="140">
                             <a (click)='edit(equipment.id)' class="miniLbl del-btn">Edit</a>
                          <a  class="miniLbl del-btn" (click)='delete(equipment.id)'>Delete</a></td>
                        </tr>
                        
                           
                      </tbody>
                   </table>
                </div>
            </div>
    
    
            
        <ul class="list-inline">
        <li><a href="addnewequipment" class="post-btn p-n bg-p">Add New Equipment</a></li>
        <li> <a  class="post-btn p-n">Upload Entry</a></li>
         
          <li class="pull-right">   <a  class="post-btn p-n">Generate Report</a></li>
         </ul>
    
      
        </div>
    </section>
    
    
        
        
      
    </body>