<section id="section-1">
	<div class="container">

	

		<h3 class="heading m-top">Edit Camera Detail <span class="ico pull-right"><a><i class="zmdi zmdi-edit zmdi-hc-fw"></i></a></span></h3>
		<div class="box">
<form action="" class="form flex m-top">
  <div class="wrap-input2 validate-input" data-validate="model no is required">
                     <input class="input2" type="text" name="">
                     <span class="focus-input2" data-placeholder="MODEL NO"></span>
                  </div>


                   <div class="wrap-input2 validate-input" data-validate="condtion is required">
                     <input class="input2" type="text" name="">
                     <span class="focus-input2" data-placeholder="CONDTION"></span>
                  </div>

                   <div class="wrap-input2 validate-input" data-validate="camera name is required">
                     <input class="input2" type="text" name="">
                     <span class="focus-input2" data-placeholder="CAMERA NAME"></span>
                  </div>

                   <div class="wrap-input2 validate-input" data-validate="lease status is required">
                     <input class="input2" type="text" name="">
                     <span class="focus-input2" data-placeholder="LEASE STATUS"></span>
                  </div>

                    <div class="wrap-input2 validate-input" data-validate="camera type is required">
                     <input class="input2" type="text" name="">
                     <span class="focus-input2" data-placeholder="CAMERA TYPE"></span>
                  </div>
                   <div class="wrap-input2 validate-input" data-validate="lease period is required">
                     <input class="input2" type="text" name="">
                     <span class="focus-input2" data-placeholder="LEASE PERIOD"></span>
                  </div>
                   <div class="wrap-input2 validate-input" data-validate="brand is required">
                     <input class="input2" type="text" name="">
                     <span class="focus-input2" data-placeholder="BRAND"></span>
                  </div>
                      <div class="wrap-input2 validate-input" data-validate="insurance is required">
                     <input class="input2" type="text" name="">
                     <span class="focus-input2" data-placeholder="INSURANCE HISTORY"></span>
                  </div>

                   <div class="wrap-input2 validate-input" data-validate="model is required">
                     <input class="input2" type="text" name="">
                     <span class="focus-input2" data-placeholder="MODEL"></span>
                  </div>

                    <div class="wrap-input2 validate-input" data-validate="life span is required">
                     <input class="input2" type="text" name="">
                     <span class="focus-input2" data-placeholder="LIFE SPAN "></span>
                  </div>

                  

                 

                  
</form>
		</div>


		
    <ul class="list-inline pull-right">
    <li><a  class="post-btn p-n bg-p">Save</a></li>
    <li> <a  class="post-btn p-n">Cancel</a></li>
      <li> <a class="post-btn p-n">Delete</a></li>
     </ul>
	</div>
</section>