<body>
    		
<section id="section-1">
	<div class="container">

		<h2 class="">POST NEW ANNOUNCEMENTS</h2>

<form action="" class="form m-top">
	<div class="wrap-input2 validate-input" data-validate="Subject is required">
                     <input class="input2" type="text" name="">
                     <span class="focus-input2" data-placeholder="SUBJECT"></span>
                  </div>

                  <div class="wrap-input2 validate-input" data-validate="Message is required">
                     <textarea class="input2" name="message"></textarea>
                     <span class="focus-input2" data-placeholder="MESSAGE"></span>
                  </div>
</form>
		


<ul class="list-inline pull-right">
    <li><a  class="post-btn p-n bg-p">POST</a></li>
    <li> <a  class="post-btn p-n">CANCLE</a></li>
     </ul>
	</div>
</section>


</body>