<ngx-spinner
bdOpacity = 0.9
bdColor = "rgba(51,51,51,0.55)"
size = "medium"
color = "#fff"
type = "timer"
[fullScreen] = "true">
<p style="color: white" > Loading... </p>
</ngx-spinner>
<body>
    		
<section id="section-1">
	<div class="container">

		<h2 class="">POST NEW ANNOUNCEMENTS</h2>

<form [formGroup]='announcementForm' class="form m-top">
	<div class="wrap-input2 validate-input" data-validate="Subject is required">
                     <input class="input2" type="text" name="subject" formControlName='subject' placeholder="SUBJECT"> 
                     
                  </div>

                  <div class="wrap-input2 validate-input" data-validate="Message is required">
                     <textarea class="input2" name="message" name="message" formControlName='message' placeholder="MESSAGE"></textarea>
                    
                  </div>

                  <label class="success">{{announcementMsg}}</label>
</form>
		


<ul class="list-inline pull-right">
    <li><a  class="post-btn p-n bg-p" (click)='postAnnouncement(announcementForm.value)' >POST</a></li>
    <li> <a  class="post-btn p-n">CANCLE</a></li>
     </ul>
	</div>
</section>


</body>