<body>
   
            
    <section id="section-1">
        <div class="container">
    
        
     
    
            <h3 class="heading m-top">Equipment List <span class="ico pull-right"><a href=""><i class="zmdi zmdi-edit zmdi-hc-fw"></i></a></span></h3>
            <div class="box">
                          <div class="dashTable">
                   <table class="dataTable display">
                      <thead>
                         <tr>
                            <th>Model No.</th>
                            <th>Equipment Name</th>
                            <th>Equipment Type</th>
                            <th>Brand</th>
                            <th>Model</th>
                            <th>Action</th>
                            
                         </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td class="no-sort desktop" width="140"><a href="editcameradetail" class="miniLbl del-btn">Edit</a>
                          <a href="#" class="miniLbl del-btn">Delete</a></td>
                        </tr>
                         <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td class="no-sort desktop" width="140"><a href="editcameradetail" class="miniLbl del-btn">Edit</a>
                          <a href="#" class="miniLbl del-btn">Delete</a></td>
                        </tr>
                           
                      </tbody>
                   </table>
                </div>
            </div>
    
    
            
        <ul class="list-inline">
        <li><a href="addnewcamera" class="post-btn p-n bg-p">Add New Camera</a></li>
        <li> <a href="" class="post-btn p-n">Upload Entry</a></li>
         
          <li class="pull-right">   <a href="" class="post-btn p-n">Generate Report</a></li>
         </ul>
    
      
        </div>
    </section>
    
    
        
        
      
    </body>