<ngx-spinner
bdOpacity = 0.9
bdColor = "rgba(51,51,51,0.55)"
size = "medium"
color = "#fff"
type = "timer"
[fullScreen] = "true">
<p style="color: white" > Loading... </p>
</ngx-spinner>

<body>

    	
<section id="section-1">
        <div class="container">
    
        
     
    
            <h3 class="heading m-top">staff list <span class="ico pull-right"><a><i class="zmdi zmdi-edit zmdi-hc-fw"></i></a></span></h3>
            <div class="box">
                          <div class="dashTable">
                   <table class="dataTable display">
                      <thead>
                         <tr>
                            <th>Staff ID</th>
                            <th>Department</th>
                            <th>Job Title</th>
                            
                            <th>Action</th>
                            
                         </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor='let staff of stafflistArray'>
                          <td>{{staff.staff_id}}</td>
                          <td>{{staff.department}}</td>
                          <td>{{staff.job_title}}</td>
                          
                          <td class="no-sort desktop" width="270"><a (click)='detail(staff.id)' class="miniLbl del-btn">View More Details</a>
                            <a  *ngIf='access' (click)='edit(staff.id)' class="miniLbl del-btn">Edit Access Rights</a></td>
                        </tr>
                   
    
                      
    
                        
    
                        
                           
                      </tbody>
                   </table>
                </div>
            </div>
    
    
            
        <ul class="list-inline">
      
         
          <li class="pull-right" *ngIf='access'>   <a href="createnewstaff" class="post-btn p-n">create new account</a></li>
         </ul>
    
      
        </div>
    </section>
    </body>