<body>
    <section id="section-1">
        <div class="container">
    
        
    
            <h3 class="heading m-top">Edit Profile <span class="ico pull-right"><a><i class="zmdi zmdi-edit zmdi-hc-fw"></i></a></span></h3>
            <div class="box">
                <div class="row">
         <div class="col-md-3">
          
             <div class="text-center">
              <img src="../../assets/images/150.png" class="img-responsive center-block img-circle" alt="">
              <h6>Upload a different photo...</h6>
              
              <input type="file" class="form-control">
            </div>
         </div>
         <div class="col-md-9">
         <form action="" class="form m-top">
      <div class="wrap-input2 validate-input" data-validate="Full Name is required">
                         <input class="input2" type="text" name="name">
                         <span class="focus-input2" data-placeholder="FULL NAME"></span>
                      </div>
    
    
                       <div class="wrap-input2 validate-input" data-validate="Staff Id is required">
                         <input class="input2" type="number" name="">
                         <span class="focus-input2" data-placeholder="STAFF ID"></span>
                      </div>
    
                       <div class="wrap-input2 validate-input" data-validate="Department is required">
                         <input class="input2" type="text" name="">
                         <span class="focus-input2" data-placeholder="DEPARMENT"></span>
                      </div>
    
                       <div class="wrap-input2 validate-input" data-validate="Email is required">
                         <input class="input2" type="email" name="email">
                         <span class="focus-input2" data-placeholder="EMAIL"></span>
                      </div>
    
                       <div class="wrap-input2 validate-input" data-validate="phone is required">
                         <input class="input2" type="number" name="name">
                         <span class="focus-input2" data-placeholder="MOBILE NUMBER"></span>
                      </div>
    
                      
    </form>
                                            <br>
                                            <br>
         </div>   
          </div>
            </div>
    
    
            
        <ul class="list-inline pull-right">
        <li><a  class="post-btn p-n bg-p">SAVE</a></li>
        <li> <a  class="post-btn p-n">Cancel</a></li>
         </ul>
        </div>
    </section>
</body>