
<ngx-spinner
bdOpacity = 0.9
bdColor = "rgba(51,51,51,0.55)"
size = "medium"
color = "#fff"
type = "timer"
[fullScreen] = "true">
<p style="color: white" > Loading... </p>
</ngx-spinner>
<body>
    <section id="section-1">
        <div class="container">
    
        
    
            <h3 class="heading m-top">Edit Profile <span class="ico pull-right"><a><i class="zmdi zmdi-edit zmdi-hc-fw"></i></a></span></h3>
            <div class="box">
                <div class="row">
         <div class="col-md-3">
          
             <div class="text-center">
              <img *ngIf="!imgURL" src="../../assets/images/150.png" class="img-responsive center-block img-circle" alt="">
              <img  [src]="imgURL" *ngIf="imgURL" class="img-responsive center-block img-circle" alt="">

             
              <h6>Upload a different photo...</h6>
              
              <input type="file" (change)='uploadImg($event)' class="form-control">
            </div>
         </div>
         <div class="col-md-9">
         <form [formGroup]='profileForm' class="form m-top">
      <div class="wrap-input2 validate-input" data-validate="Full Name is required">
                         <input class="input2" type="text" name="first_name" formControlName='first_name' placeholder="FULL NAME">
                         
                      </div>
    
    
                       <div class="wrap-input2 validate-input" data-validate="Staff Id is required">
                         <input class="input2" type="number"  name="staff_id" formControlName='staff_id' placeholder="STAFF ID">
                      </div>
    
                       <div class="wrap-input2 validate-input" data-validate="Department is required">
                         <input class="input2" type="text" name="department" formControlName='department' placeholder="DEPARMENT">
                      </div>
    
                       <div class="wrap-input2 validate-input" data-validate="Email is required">
                         <input class="input2" type="email" name="email" formControlName='email' placeholder="EMAIL">
                      </div>
    
                       <div class="wrap-input2 validate-input" data-validate="phone is required">
                         <input class="input2" type="text" name="mobile_no" formControlName='mobile_no' placeholder="MOBILE NUMBER">
                      </div>
    
                      
    </form>
    <label class="success">{{profileUpdatedMsg}}</label>
                                            <br>
                                            <br>
         </div>   
          </div>
            </div>
    
    
            
        <ul class="list-inline pull-right">
        <li><a  class="post-btn p-n bg-p" (click)='editProfile(profileForm.value)'>SAVE</a></li>
        <li> <a href="profile"  class="post-btn p-n">Cancel</a></li>
         </ul>
        </div>
    </section>
</body>