<body>

    		
<section id="section-1">
	<div class="container">

	

		<h3 class="heading m-top">Personal Particulars <span class="ico pull-right"><a href="editprofile">
            <i class="zmdi zmdi-edit zmdi-hc-fw"></i></a></span></h3>
		<div class="box">
			<div class="row">
     <div class="col-md-3">
       <img src="../../assets/images/150.png" *ngIf="!profile_picture" class="img-responsive center-block img-circle" alt="">
       <img src="{{imagePath}}{{profile_picture}}" *ngIf="profile_picture" class="img-responsive center-block img-circle" alt="">

     </div>
     <div class="col-md-9">
       <h2>{{first_name}}</h2>
       <p class="clr-p">{{job_title}}</p>
       <h3 class="m-top">About</h3>
       <hr>
        <div class="row">
                                            <div class="col-md-6">
                                                <label>Staf Id</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{staffid}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Full Name</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{first_name}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Email</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{email}}</p>
                                            </div>
                                        </div>
                                        
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Department</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{department}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Mobile No</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{mobileNo}}</p>
                                            </div>
                                        </div>
                                        <br>
                                        <br>
     </div>   
      </div>
		</div>


		
    <ul class="list-inline pull-right">
    <li><a href="editprofile" class="post-btn p-n bg-p">Edit  Profile</a></li>
    <li> <a href="changepassword" class="post-btn p-n">Change password</a></li>
     </ul>
	</div>
</section>

</body>