<body>
    <section id="section-1">
        <div class="container">
    
        
    
            <h3 class="heading m-top">Edit Camera loan <span class="ico pull-right"><a href="editprofile.html"><i class="zmdi zmdi-edit zmdi-hc-fw"></i></a></span></h3>
            <div class="box">
    <form action="" class="form flex m-top">
      <div class="wrap-input2 validate-input" data-validate="Serial no is required">
                         <input class="input2" type="text" name="">
                         <span class="focus-input2" data-placeholder="SERIAL NO"></span>
                      </div>
    
    
                       <div class="wrap-input2 validate-input" data-validate="ACCESSORIES is required">
                         <input class="input2" type="text" name="">
                         <span class="focus-input2" data-placeholder="ACCESSORIES1"></span>
                      </div>
    
                       <div class="wrap-input2 validate-input" data-validate="staff id is required">
                         <input class="input2" type="text" name="">
                         <span class="focus-input2" data-placeholder="STAFF ID"></span>
                      </div>
    
                       <div class="wrap-input2 validate-input" data-validate="ACCESSORIES is required">
                         <input class="input2" type="text" name="">
                         <span class="focus-input2" data-placeholder="ACCESSORIES2"></span>
                      </div>
    
                        <div class="wrap-input2 validate-input" data-validate="device is required">
                         <input class="input2" type="text" name="">
                         <span class="focus-input2" data-placeholder="DEVICE1"></span>
                      </div>
                       <div class="wrap-input2 validate-input" data-validate="ACCESSORIES is required">
                         <input class="input2" type="text" name="">
                         <span class="focus-input2" data-placeholder="ACCESSORIES3"></span>
                      </div>
                       <div class="wrap-input2 validate-input" data-validate="device is required">
                         <input class="input2" type="text" name="">
                         <span class="focus-input2" data-placeholder="DEVICE2"></span>
                      </div>
                          <div class="wrap-input2 validate-input" data-validate="ACCESSORIES is required">
                         <input class="input2" type="text" name="">
                         <span class="focus-input2" data-placeholder="ACCESSORIES4"></span>
                      </div>
    
                       <div class="wrap-input2 validate-input" data-validate="device is required">
                         <input class="input2" type="text" name="">
                         <span class="focus-input2" data-placeholder="DEVICE3"></span>
                      </div>
    
                        <div class="wrap-input2 validate-input" data-validate="ACCESSORIES is required">
                         <input class="input2" type="text" name="">
                         <span class="focus-input2" data-placeholder="ACCESSORIES5"></span>
                      </div>
    
                       <div class="wrap-input2 validate-input" data-validate="lease period is required">
                         <input class="input2" type="text" name="">
                         <span class="focus-input2" data-placeholder="LEASE PERIOD"></span>
                      </div>
    
                     
    
                      
    </form>
            </div>
    
    
            
        <ul class="list-inline pull-right">
        <li><a href="" class="post-btn p-n bg-p">Save</a></li>
        <li> <a href="changepassword.html" class="post-btn p-n">Cancel</a></li>
          <li> <a href="changepassword.html" class="post-btn p-n">Delete</a></li>
         </ul>
        </div>
    </section>
    
    
</body>