
<body>
<section id="section-1">
	<div class="container">

		<h2 class="">ALERTS</h2>

		<h3 class="heading m-top">Staff 1032 Loan <span class="ico pull-right"><a href=""><i class="zmdi zmdi-minus zmdi-hc-fw"></i></a></span></h3>
		<div class="box">
			<p>Customer 1032's Camera loan is expiring soon</p>
		</div>

		<h2 class="">ANNOUNCEMENTS</h2>

		<h3 class="heading m-top">Server Maintenance <span class="ico pull-right"><a href=""><i class="zmdi zmdi-minus zmdi-hc-fw"></i></a></span></h3>
		<div class="box">
			<p>There will be a server maintenance on 1 July.Servers will be down from 9.00AM to 2.00PM</p>
		</div>
    <a href="post.html" class="post-btn pull-right">POST NEW</a>
	</div>
</section>
</body>