<ngx-spinner
bdOpacity = 0.9
bdColor = "rgba(51,51,51,0.55)"
size = "medium"
color = "#fff"
type = "timer"
[fullScreen] = "true">
<p style="color: white" > Loading... </p>
</ngx-spinner>
<body>
<section id="section-1">
	<div class="container">

		<h2 class="">ALERTS</h2>

		<h3 class="heading m-top">Staff 1032 Loan <span class="ico pull-right"><a href=""><i class="zmdi zmdi-minus zmdi-hc-fw"></i></a></span></h3>
		<div class="box">
			<p>Customer 1032's Camera loan is expiring soon</p>
		</div>

		<h2 class="">ANNOUNCEMENTS</h2>

		<div *ngFor='let anounce of announcement.response'>
		<h3 class="heading m-top">{{anounce.subject}}<span class="ico pull-right"><a href=""><i class="zmdi zmdi-minus zmdi-hc-fw"></i></a></span></h3>
		<div class="box">
			<p >{{anounce.message}}</p>
		</div>
	</div>
		<div class="box" *ngIf='!announcement.response.length'>
			<p>No announcement found for today</p>
		</div>
    <a *ngIf='access' href="post"  class="post-btn pull-right">POST NEW</a>
	</div>
</section>
</body>